body {
    font-family: Verdana, sans-serif;
    font-size: 0.875em;
    line-height: 1.5px;
    letter-spacing: 0.8px;
    width: 100%;
}

/* unvisited link */
a:link {
    color: #212529;
}

/* visited link */
a:visited {
    color: #CCD1D1;
}

/* mouse over link */
a:hover {
    color: #CCD1D1;
    text-decoration: none;
}

.navbar {
    -webkit-box-shadow: 0 0 .3em 0 #999;
    -moz-box-shadow: 0 0 .3em 0 #999;
    box-shadow: 0 0 .3em 0 #999;
}

.navbar-brand {
    font-size: 18px;
    letter-spacing: 2.5px;
}

.nav-item {
    color: #808080;
    letter-spacing: 3px;
    font-size: 15px;
}

.nav-item a:visited {
    color: #808080;
}

.nav-item a:hover {
    color: #212529;
}

.navbar-toggler {
    padding: 3px;
}

.display-3 {
    font-size: 22px;
    color: #504e4e;
    border-bottom: 1px solid #f1f1f1;
    letter-spacing: 3px;
}



.container-fluid {
    padding-right: 10%;
    padding-left: 10%;

}


.social-media img {
    width: 55px;
    height: 55px;
    padding: 7px;

}


@media (max-width:767px) {
    #address {
        border: 0 !important;
    }

    #info-text {
        padding-right: 5% !important;
    }
}