body {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    line-height: 22.5px;
    width: 100%;
}

/* unvisited link */
a:link {
    color:#212529;
}

/* visited link */
a:visited {
    color:#CCD1D1;
}

/* mouse over link */
a:hover {
    color:#CCD1D1;
    text-decoration: none;
}

.navbar {
    -webkit-box-shadow: 0 0 .3em 0 #999;
    -moz-box-shadow: 0 0 .3em 0 #999;
    box-shadow: 0 0 .3em 0 #999;
}

.navbar-brand {
    font-size: 18px;
    letter-spacing:3px;    
}

.nav-item {
    color: #808080;
    letter-spacing:3px;
    font-size: 15px;
}

.nav-item a:visited {
    color: #808080;
}

.nav-item a:hover {
    color: #212529;
}


.display-3 {
    font-size:22px;
    color: #808080;
    border-bottom: 1px solid #f1f1f1;
    letter-spacing:3px;
}



.container-fluid {
    padding-right: 10%;
    padding-left: 10%;

}


/* #row-gallery {
    background-color: #FCFCFC;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 10%;
    margin-left: 10%;
} */



.social-media img{
    width: 55px;
    height:55px;
    padding:7px;

}


@media (max-width:767px) {
    #address {
        border:0 !important;
    }

    #info-text {
        padding-right: 5% !important;
    }
}